/* Enable2FAPage.module.css */

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    background-color: #f4f4f9;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }

  /* .page > div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    
  } */
  
  button {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    width: auto;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:not(:disabled) {
    background-color: #0056b3;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
  }
  
  .qrCode {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }
  
  .input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  .input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button + .input {
    margin-top: 15px;
  }
  
  @media (max-width: 600px) {
    .page {
      padding: 10px;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    h2 {
      font-size: 1.2rem;
    }
  
    .qrCode {
      width: 150px;
      height: 150px;
    }
  }
  