.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: left;
  }
  
  .headerRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .backButton {
    text-decoration: none;
    color: #0b2853;
    margin-right: 20px;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .eventTitle {
    font-size: 24px;
    font-weight: bold;
    color: #0b2853;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
  }

  .form>div {
    flex: 1 0 50%
  }

  .form>div:first-child {
    flex: 0 1 100%
  }
  
  .row {
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
    color: #0b2853;
    font-weight: bold;
  }
  
  .input {
    padding: 10px;
    border-radius: 4px;
    color:gray;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #010101;
  }
  
  .textarea {
    padding: 10px;
    min-height: 100px;
    color:gray;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
  }
  
  .buttonRow {
    display: flex;
    justify-content: center;
  }
  
  .createButton {
    background-color: #0b2853;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  