/* Container for the entire header */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #0A306E;
  box-shadow: 0 2px 5px 0A306E(0, 0, 0, 0.1);
  position: relative; 
}

/* Sidebar toggle button (hamburger menu) */
.sidebarToggle {
  cursor: pointer;
  font-size: 1.5rem;
}

/* Title in the header */
.headerTitle {
  position: absolute; /* Center the title */
  left: 50%;
  transform: translateX(-50%);
}

.headerTitle h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Dropdown for role selection */
.roleSelector select {
  padding: 5px 10px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 4px;
}

/* Logout button (sign-out icon) */
.logoutButton {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
  margin-left: auto;
}

.logoutButton:hover,
.sidebarToggle:hover {
  color: white;
}
